<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@500&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">

.navbar-brand {
            max-width: 50%;
 }

#CryptoPredict{
        font-family: 'Anek Telugu', sans-serif; 
        color: #b3b3b3; 
        font-size: 22px;
        text-align: right;
        padding-top: 20px;
        padding-right: 25px;
            
        }

        #ExchangePlatform{
        font-family: 'Anek Telugu', sans-serif; 
        color: #b3b3b3; 
        font-size: 22px;
        text-align: right;
        padding-top: 20px;
        padding-right: 50px;
        
        
        }


